body {
    overflow-x: hidden;
    font-family: sans-serif;
}

p {
    line-height: 1.75;
}

a {
    color: #FE9854;
}

a.active,
a:active,
a:focus,
a:hover {
    color: #FE7820
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: sans-serif;
    text-transform: uppercase
}

section {
    padding: 100px 0
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: sans-serif;
}

@media (min-width:768px) {
    section {
        padding: 150px 0
    }
}

::-moz-selection {
    background: #FE9854;
    text-shadow: none
}

::selection {
    background: #FE9854;
    text-shadow: none
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    -webkit-tap-highlight-color: #FE9854
}

#mainNav {
    background-color: #343434;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #FE9854;
    font-family: sans-serif;
    text-transform: uppercase
}

#mainNav .navbar-brand {
    color: #FE9854;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #FE7820
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #FE9854;
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em!important
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #343434
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0
    }
}

header.masthead {
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #05a4b5, #00d5c7);
    /*background-image: url(img/home/header-bg.png);*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

header.masthead .intro-text {
    padding-top: 90px;
    padding-bottom: 37px
}

header.masthead .intro-text .intro-lead-in {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 35px;
}

header.masthead .intro-text .intro-heading {
    text-align: left;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.14;
    margin-bottom: 5px;
    font-family: sans-serif;
}

@media (min-width:768px) {
    header.masthead .intro-text {
        padding-top: 180px;
        padding-bottom: 95px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-weight: 300;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        font-family: sans-serif;
        text-align: left;
        margin-bottom: 35px;
    }
    header.masthead .intro-text .intro-heading {
        text-align: left;
        font-weight: 300;
        font-size: 54px;
        font-weight: 300;
        line-height: 1.14;
        margin-bottom: 10px;
        font-family: sans-serif;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(254, 209, 54, .9)
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#portfolio * {
    z-index: 2
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.portfolio-modal .modal-dialog {
    max-width: none;
    height: 100%;
    margin: 0
}

.portfolio-modal .modal-content {
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .modal-content button {
    cursor: pointer
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #222
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #f1f1f1
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px
}

.timeline > li:after,
.timeline > li:before {
    display: table;
    content: ' '
}

.timeline > li:after {
    clear: both
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0
}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    background-color: #FE9854
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0
}

.timeline > li:last-child {
    margin-bottom: 0
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
    margin-bottom: 0
}

@media (min-width:768px) {
    .timeline:before {
        left: 50%
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left
    }
}

@media (min-width:992px) {
    .timeline > li {
        min-height: 150px
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width:1200px) {
    .timeline > li {
        min-height: 170px
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center
}

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

section#contact {
    background-color: #222;
    background-image: url(images/landing/map-image.jpg);
    background-repeat: no-repeat;
    background-position: center
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eee;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #eee;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #eee;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #eee;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

section#contact .text-danger {
    color: #e74c3c
}

footer {
    padding: 25px 0;
    text-align: center
}

footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #222
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136
}

.text-primary {
    color: #fed136!important
}

.btn-primary {
    font-weight: 700;
    color: #fff;
    border-color: #fed136;
    background-color: #fed136;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    border-color: #b48b01;
    background-color: #fec503
}

.btn-primary:hover {
    color: #fff;
    border-color: #f6bf01;
    background-color: #fec503
}

.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #f6bf01;
    background-color: #fec503
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
    color: #fff;
    border-color: #b48b01;
    background-color: #dcab01
}

.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #fed136;
    background-color: #fed136
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}

.btn-xl {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 3px;
    color: #fff;
    border-color: #FE9854;
    background-color: #FE9854;
    font-family: sans-serif;
    text-transform: uppercase
}

.btn-xl.focus,
.btn-xl:focus {
    color: #fff;
    border-color: #FE7820;
    background-color: #FE9854
}

.btn-xl:hover {
    color: #fff;
    border-color: #FE7820;
    background-color: #FE7820
}

.btn-xl.active,
.btn-xl:active,
.open > .btn-xl.dropdown-toggle {
    color: #fff;
    border-color: #f6bf01;
    background-color: #fec503
}

.btn-xl.active.focus,
.btn-xl.active:focus,
.btn-xl.active:hover,
.btn-xl:active.focus,
.btn-xl:active:focus,
.btn-xl:active:hover,
.open > .btn-xl.dropdown-toggle.focus,
.open > .btn-xl.dropdown-toggle:focus,
.open > .btn-xl.dropdown-toggle:hover {
    color: #fff;
    border-color: #b48b01;
    background-color: #dcab01
}

.btn-xl.active,
.btn-xl:active,
.open > .btn-xl.dropdown-toggle {
    background-image: none
}

.btn-xl.disabled.focus,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled].focus,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl.focus,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
    border-color: #fed136;
    background-color: #fed136
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff
}
.header_img {
    /*background: url('../img/header-bg.png') no-repeat;*/
    background-size: contain;
    background-position: center;

}

header.masthead .intro-text .intro-lead-plus {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 10px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 1.2px;
}

header.masthead .intro-text .fa {
    font-size : 24px;
    vertical-align: top;
}

@media (min-width:768px) {
    header.masthead .intro-text .intro-lead-plus div {
        display: inline-block;
        width: 600px !important;
    }
}
@media (min-width:474px) and (max-width:768px) {
    header.masthead .intro-text .intro-lead-plus div {
        display: inline-block;
        width: 400px;
    }
}
@media (max-width:474px) {
    header.masthead .intro-text .intro-lead-plus div {
        display: inline-block;
        width: 250px;
    }
}

.btn-view-all {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 3px;
    color: #fff;
    border-color: #FE9854;
    background-color: #FE9854;
    font-family: sans-serif;
    text-transform: uppercase
}

#portfolio .img-fluid:hover {
    opacity: .8;
}

.partner-descr {
    font-family: sans-serif;
}

#navbarResponsive .nav-btn { text-decoration: none !important; }
@media (min-width:992px) {
    #navbarResponsive .nav-btn {
        background-color: #ffffff;
        border-radius: .25rem;
        color: #03bdac;
        display: inline-block;
        font-size: 12px;
        font-family: sans-serif;
        margin-top: 8px;
        padding: 10px;
        line-height: 1.25;
        transition: all .15s ease-in-out;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }
}

@media (max-width:992px) {
    #navbarResponsive .nav-btn {
        font-size: 90%;
        font-weight: 400;
        padding: .75em 0;
        color: #FFF;
        letter-spacing: 1px;
        font-family: sans-serif;
        text-transform: uppercase;

    }

    #navbarResponsive .header-split {
        display: inline !important;
        border-top: 1px solid #c2cbd3;
        margin: 0 2px 8px 2px;
    }
}
