html, body {
    overflow-y:hidden;
    height: 100%;
}
#page-inside-wrap {
    height: 100%
}
#page-inside-wrap .row:nth-child(2) {
    height: calc(100% - 130px);
}
#page-inside-wrap .row:first-child {
    margin-top: 15px;
}
#page-inside-wrap  .row{
    box-shadow: 0 0 3px #ddd;
    background-color: #FFF;
}
/*leftmenu search */
.left-topmenu {
    border-right: 1px solid rgba(221, 221, 221, 0.5);
}
.left-topmenu .typeahead__container  {
    padding: 8px 0;
}
.typeahead__query input {
    background-color: rgba(237, 238, 240, 0.5);
}
.typeahead__query input:focus {
    background-color: #fff;
    border: solid 1px #d3d9de;
 }
.typeahead__query i {
  position: absolute;
  padding: 12px 14px;
  pointer-events: none;
  right: 0px;
}

/* end search*/

.right-topmenu .fa {
    padding-top: 12px;
    font-size: 20px;
    color: #aaabaf;
}

.right-topmenu .fa:hover {
    color: #02C6BA;
}
.message-wrap {
    box-shadow: 0 0 3px #ddd;
    padding:0;
    height: 100%;
}
.msg-list {
    margin: 5px 0;
    padding:5px;
    margin:0;
}
.msg-list .media-object {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.msg-wrap {
    padding:10px;
    height: calc(100% - 130px);
    overflow: auto;
}
.msg-list .text {
    font-size: 13px;
    word-wrap: break-word;
    text-align: justify ;
}
@media (min-width: 1200px) {
  .msg-list .text {
      width: 640px;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .msg-list .text {
      width: 450px;
  }
}
@media (max-width: 1000px) {
  .msg-list .text {
      width: 750px;
  }
}

.send-wrap {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px;
    background-color: rgba(237, 238, 240, 0.5);
    height: 130px;
}
.send-message {
    resize: none;
}
.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.send-message-btn {
    border-radius: 0;
}
.btn-panel {
    background: #f7f7f9;
}
.btn-panel .btn {
    color:#b8b8b8;
    transition: 0.2s all ease-in-out;
}
.msg-wrap .media-heading {
    color:#003bb3;
    font-weight: 700;
    padding-left: 15px;
}
.msg-date {
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}
.send-wrap .input-box {
    padding: 0;
    position: relative;
    cursor: text;
    margin-bottom: 12px;
    border: solid 1px #d3d9de;
    background: #fff;
    min-height: 36px;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    -o-transition: border-bottom-color 0.3s linear;
    transition: border-bottom-color 0.3s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}
.send-wrap .input-box div {
    outline: 0;
    border: none;
}

 [placeholder], [placeholder], *[placeholder] {
     color: #939393;
     font-size: 13px !important;
}
.conversation-wrap .media-object {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.right-topmenu .title-col{
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 20px;
    height: 18px;
    text-overflow: ellipsis;
    line-height: 18px;
    font-size: 14px;
}

.right-topmenu .title-col span {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    color: #222;
}

.right-topmenu .title {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    color: #222;
    text-overflow: ellipsis;
    font-weight: 500;
    cursor: pointer;
}
/*.pull-left img {
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}*/
.img-group { padding-left: 20px; }
.img-group img {
    margin-left: -20px;
}

div.conversation-wrap {
    padding-left: 0;
    padding-right: 0;
}

div.conversation-wrap .active {
    background-color: rgba(237, 238, 240, 0.5)
}
div.conversation:hover {
    background-color: rgba(237, 238, 240, 0.5)
}
/* div.msg-body:hover {
    display: none
} */

img.media-object, img.user-logo {
  font: 0.1rem;
  color: #02C6BA;
}

.text-tips {
    flex: 0 0 auto;
    margin: 30px 10px;
    color: #939393;
    font-size: 13px;
    text-align: center;
}

.typeahead__field .typeahead__hint, .typeahead__field [contenteditable], .typeahead__field input, .typeahead__field textarea {
    padding: 0 .75rem;
}

[contenteditable=true]:empty::before {
  content: attr(placeholder);
}
[contenteditable=true]:empty::focus {
  content: attr(placeholder);
   border: 1px solid #29B0D9; /* Параметры рамки */
}

.rb {
    border: 1px solid red;
    height: 20px;
}
.conversation-wrap {
    max-height: 100%;
    overflow: auto;
}
.conversation {
    height: 63px;
    box-sizing: border-box;
    padding: 5px 0 0 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 100%;
    cursor: pointer;
    /*position: relative;*/
}
.conversation .msg-body h5 {
    font-weight: 300;
    padding: 5px 0;
}
.msg-body h5, .msg-body small {
    color: #262626;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.msg-body small {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
    padding: 4px 0;
    height: 18px;
}
.msg-photo { padding: 0}
.msg-time {
    font-weight: normal;
    padding-left: 0px;
    font-size: 11px;
    color: #8e8e8e;
    display: block;
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 40px;
}
.msg-count {
    position: absolute;
    z-index: 9;
    min-width: 20px;
    height: 20px;
    background-color: #fd5f5f;
    border: solid 0 #ffffff;
    right: 10px;
    top: 25px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
div.message-wrap div.unread { background-color: rgba(237, 238, 240, 0.5)}

div.user-behavior {
    width: 100%;
    height: 30px;
}

img.media-object {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

li.typeahead__item span.username {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 6px;
}

div.conversation:hover span.msg-time {
    display: none;
}
div.conversation span.thread-remove {
    display: none;
}
div.conversation:hover span.thread-remove {
    position: absolute;
    display: block;
    z-index: 9;
    right: 10px;
    top: 40px;
    font-weight: normal;
    font-size: 11px;
    color: #8e8e8e;
}
span.thread-remove:hover {
    font-weight: 400  !important;
    color: #5c5c5c !important;
}

.text-grey {
    color: #8e8e8e !important;
}


div.conversation-wrap .pagination,
div.msg-wrap .pagination {
    display: none;
}
div.verbal {
    text-align: center;
}
div.verbal:hover {
    background-color: rgba(237, 238, 240, 0.5);
    text-align: center;
}
div.verbal i.glyphicon {
    font-size: medium;
    padding: 11px 0;
}
div.right-topmenu, div.btn-verbal {
    padding: 0;
}

div.communication-form {
    width: 100%;
    height: inherit;
    padding: 20% 5%;
}
div.communication-form div.stream {
    box-shadow: 0 0 3px #ddd;
    background: rgb(237, 238, 240);
    width: 100%;
    height: 100%;
}
